prefix = "your_project_name"

aws_region     = "us-west-2"
aws_account_id = "123123abcavc"

vpc_cidr                        = "10.99.0.0/16"
private_subnets_for_endpoints   = ["10.99.254.0/24", "10.99.253.0/24"]
public_subnets_for_natgw_per_az = ["10.99.252.0/24", "10.99.251.0/24"]
private_subnets_for_cluster     = ["10.99.200.0/24", "10.99.201.0/24"]


tag_environment = "Stag/Dev"
tag_owner       = "your_name"
tag_budget      = "marketing"

databricks_account_id       = "1234abcd1234"
databricks_account_username = "admin@your_company.com"
databricks_account_password = "your_password"