prefix = "your_project_name"

aws_region     = "us-west-2"
aws_account_id = "123123abcavc"


// configure properly according to the result of "shared_resource_deployment"
vpc_id                      = "vpc-07a51da49ae98f137"
private_subnets_for_cluster = ["10.99.200.0/24", "10.99.201.0/24"]
selected_azs                = ["us-west-2a", "us-west-2b"]
route_table_ids             = ["rtb-0d7485a70fa8ed281", "rtb-0327d6d74185fe395"]

default_security_group_id = "sg-01436052b82e08320"

credentials_id         = "a40430e2-8a05-4210-9a9d-bfb2a20ae8ff"
uc_metastore_id        = "8dc9fe90-4a2f-4dd8-8e6d-c19b7b353fe9"
aws_role_uc_access_arn = "arn:aws:iam::123123abcavc:role/yourproject-4ho1qddv-vpc-cred-uc-access"




tag_environment = "Stag/Dev"
tag_owner       = "your_name"
tag_budget      = "marketing"

databricks_account_id       = "1234abcd1234"
databricks_account_username = "admin@your_company.com"
databricks_account_password = "your_password"